## Bonus Question: 
### Import the SQL database into Pandas
### Create a histogram to visualize the most common salary ranges for employees
### Create a bar chart of average salary by title

In [1]:
#Import appropriate modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import scipy.stats as sts

In [2]:
#import information for PostgreSQL access
from config import (user, password, host, port, database)

ModuleNotFoundError: No module named 'config'

In [ ]:
#import starter code for connecting SQL database to Pandas 
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
connection = engine.connect()

In [ ]:
#create dataframes for employees, titles, and salary for analysis
employees_df = pd.read_sql_table("employees", con = connection)
titles_df = pd.read_sql_table("titles", con = connection)
salaries_df = pd.read_sql_table("salaries", con = connection)

In [ ]:
employees_df.head()
titles_df.head()
employees_df.head()

In [ ]:
#Salary variable to determine common salary ranges among employees
salary = salaries_df["salary"]
salary

In [ ]:
#Use Matplotlib to create a histogram to visualize common salary ranges
plt.figure(figsize = (18, 20))

plt.hist(salary, color = "orange", alpha = 0.75)

plt.title("Common Salary Ranges Among Pewlett Hackard Employees", fontsize = 20)
plt.xlabel("Salaries", fontsize = 18)
plt.ylabel("Number of Employees", fontsize = 18)

In [ ]:
#rename title_id to emp_title to merge dataframes on that column
titles_df.rename(columns = {"title_id": "emp_title"}, inplace = True)
titles_df.head()

In [ ]:
#merge employees and salaries dataframes, and then merge onto titles
initial_merge = pd.merge(employees_df, salaries_df, how= "inner", right_on = "emp_no", left_on = "emp_no", on=None, sort=False, copy = True, indicator = False, validate = None)
initial_merge.head()

In [ ]:
final_merge = pd.merge(initial_merge, titles_df, how = "inner", right_on = "emp_title", left_on = "emp_title", on=None, sort=False, copy = True, indicator = False, validate = None)
final_merge.head()