## Bonus Question: 
### Import the SQL database into Pandas
### Create a histogram to visualize the most common salary ranges for employees
### Create a bar chart of average salary by title

In [1]:
#Import appropriate modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import scipy.stats as sts

In [2]:
#import information for PostgreSQL access
from config import (user, password, host, port, database)

In [3]:
#import starter code for connecting SQL database to Pandas 
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
connection = engine.connect()

In [6]:
#create dataframes for employees, titles, and salary for analysis
employees_df = pd.read_sql_table("employees", con = connection)
titles_df = pd.read_sql_table("titles", con = connection)
salaries_df = pd.read_sql_table("salaries", con = connection)

In [9]:
employees_df.head()
titles_df.head()
employees_df.head()

   emp_no emp_title_id birth_date  first_name  last_name sex  hire_date
0  473302        s0001 1953-07-25    Hideyuki   Zallocco   M 1990-04-28
1  475053        e0002 1954-11-18       Byong  Delgrande   F 1991-09-07
2   57444        e0002 1958-01-30       Berry       Babb   F 1992-03-21
3  421786        s0001 1957-09-28       Xiong   Verhoeff   M 1987-11-26
4  282238        e0003 1952-10-28  Abdelkader    Baumann   F 1991-01-18

In [10]:
#Salary variable to determine average salaries among employees
salary = salaries_df["salary"]
salary

0         60117
1         65828
2         40006
3         40054
4         78228
          ...
300019    40000
300020    58058
300021    49597
300022    40000
300023    63707
Name: salary, Length: 300024, dtype: int64